header{display:flex;justify-content:space-between;align-items:top}header p{max-width:500px
  background-color: #e1d2d4  ;} 

body{font-family:'Helvetica Neue', sans-serif;margin:0}

.rules{color: #4a00ff;}

.wrapper{padding:80px}p{font-family:'Courier', monospace;line-height:28px;max-width:750px}

a,a:visited{font-family:"Helvetica Neue",sans-serif !important;color:blue;transition:0.2s}

.article h1 a{font-family:"Helvetica Neue",sans-serif !important;font-size:80px;text-transform:uppercase;line-height:77px;color:#44f2ab ;-webkit-text-stroke-width:1px;-webkit-text-stroke-color:black;margin-bottom:40px;display:block;max-width:600px !important;text-decoration:none !important;transition:0.1s}

.article h1 a:hover{color:black}

.meta{height:80px;width:80px;background-color:blue;border-radius:200px;display:flex;justify-content:center;align-items:center;margin-top:30px}

.meta a{color:white}@media (max-width: 1119px){.smile{display:none}}@media (max-width: 1005px){.about{display:none}}@media (max-width: 600px){.wrapper{padding:40px}.article img{margin-bottom:20px}
  
.article h1 a{font-size:40px;line-height:42px}.article 
  
p{font-size:14px}

footer{padding:40px}}



footer p{max-width:380px}

.article{margin-top:120px;max-width:1000px}

/* CSS for Hover Feature */
.ex1:hover, a.ex1:active {font-size: 120%;}
.ex2:hover, a.ex2:active {background: #FFD3B6;}
.ex3:hover, a.ex3:active {font color: black}
.ex4:hover, a.ex4:active {background: #A8E6CF;}

body
{
  margin: 0;
  padding: 0;
  
  /* CSS for the fonts within each cell - make it look decent enough */
  background: white ;
  color: #0e1119;
  font-family: Helvetica;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

a:hover
{
  color: tomato;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * CSS for Hamburger Menu
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),;
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  font-family: Helvetica;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* CSS for the Tables */
.blue { color: #185875; }
.yellow { color: #FFF842; }

.container th h1 {
	  font-weight: bold;
	  font-size: 1em;
  text-align: left;
  color: #185875;
}

.container td {
	  font-weight: normal;
	  font-size: 1em;
  -webkit-box-shadow: 0 2px 2px -2px #0E1119;
	   -moz-box-shadow: 0 2px 2px -2px #0E1119;
	        box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
	text-align: left;
	overflow: hidden;
	width: 80%;
	margin: auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td, .container th {
	padding-bottom: 2%;
	padding-top: 2%;
  padding-left:2%;  
}

/* Background-color of the odd rows */
.container tr:nth-child(odd) {
	  background-color: white;
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
	  background-color: white;
}

.container th {
	  background-color: white;
}

.container td:first-child { color: #FB667A; }

.container tr:hover {
   background-color: #ffdc00;
-webkit-box-shadow: 0 6px 6px -6px #0E1119;
	   -moz-box-shadow: 0 6px 6px -6px #0E1119;
	        box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
  background-color: #44f2ab;
  color: #0e1119;
  font-family: Helvetica;
  font-weight: bold;
  
  box-shadow: #0e1119 -1px 1px, #0e1119 -2px 2px,#0e1119 -3px 3px, #0e1119 -4px 4px, #0e1119 -5px 5px, #0e1119 -6px 6px;
  transform: translate3d(6px, -6px, 0);
  
  transition-delay: 0s;
	transition-duration: 0.4s;
	transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
.container td:nth-child(4),
.container th:nth-child(4) { display: none; }
}

.footerlove{
  font-size:50px;
  color: white;
  padding: ;
}