header{display:flex;justify-content:space-between;align-items:top}header p{max-width:500px
  background-color: #e1d2d4  ;} 

body{font-family:'Helvetica Neue', sans-serif;margin:0}

.rules{color: #4a00ff;}

.wrapper{padding:80px}p{font-family:'Courier', monospace;line-height:28px;max-width:750px}

a,a:visited{font-family:"Helvetica Neue",sans-serif !important;color:blue;transition:0.2s}

.article h1 a{font-family:"Helvetica Neue",sans-serif !important;font-size:80px;text-transform:uppercase;line-height:77px;color:#DCEDC1;-webkit-text-stroke-width:1px;-webkit-text-stroke-color:black;margin-bottom:40px;display:block;max-width:600px !important;text-decoration:none !important;transition:0.1s}

.article h1 a:hover{color:black}

.meta{height:80px;width:80px;background-color:blue;border-radius:200px;display:flex;justify-content:center;align-items:center;margin-top:30px}

.meta a{color:white}@media (max-width: 1119px){.smile{display:none}}@media (max-width: 1005px){.about{display:none}}@media (max-width: 600px){.wrapper{padding:40px}.article img{margin-bottom:20px}
  
.article h1 a{font-size:40px;line-height:42px}.article 
  
p{font-size:14px}

footer{padding:40px}}

footer{background-color: #44f2ab; padding:100px}

footer p{max-width:380px}

.smile{position:relative;bottom:-50px;right:190px;animation:rotate 5s infinite}

.article{margin-top:120px;max-width:1000px}

.cta {
  font-size: 70px;
  font-weight: 800;
  text-align: center;
}
.cta2 {}
.cta3 {}
.cta4 {}
.cta5 {}
.cta6 {}


.ex1:hover, a.ex1:active {font-size: 120%;}
.ex2:hover, a.ex2:active {background: #FFD3B6;}
.ex3:hover, a.ex3:active {font color: black}
.ex4:hover, a.ex4:active {background: #A8E6CF;}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
